/*Style for Input*/
.input-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.input-container label{
    background: linear-gradient(90deg, rgba(0, 39, 255, 1) 34%, rgba(0, 1, 255, 1) 48%, rgba(201, 10, 88, 1) 87%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.1rem;
    margin: 1rem;
}

.input-container input, .input-container select{
    border: 1px solid transparent;
    border-image: linear-gradient(90deg, rgba(255, 0, 0, 1) 28%, rgba(0, 164, 255, 1) 48%, rgba(189, 10, 201, 1) 87%);
    border-image-slice: 1;
    outline: none;
    padding: 15px 15px;
    font-size: 1rem;
    color: #0000d8;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 425px) {
    .input-container label{
        background: linear-gradient(90deg, rgba(0, 39, 255, 1) 34%, rgba(0, 1, 255, 1) 48%, rgba(201, 10, 88, 1) 87%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 1.1rem;
        margin: 1rem;
    }

    .input-container input, .input-container select{
        border: 1px solid transparent;
        border-image: linear-gradient(90deg, rgba(255, 0, 0, 1) 28%, rgba(0, 164, 255, 1) 48%, rgba(189, 10, 201, 1) 87%);
        border-image-slice: 1;
        outline: none;
        padding: 10px 10px;
        font-size: 1rem;
        color: #0000d8;
        font-family: 'Montserrat', sans-serif;
    }
}
