button{
    padding: 15px 60px;
    text-transform: uppercase;
    background-color: #13b7c5;
    color: white;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin: 1.5rem 0;
}

button:hover{
    background-color: #2381ba;
    transition: 0.3s ease;
}

button:disabled{
    background-color: #beb8b8;
    cursor: not-allowed;
}
